body {
  background: #a6fffd;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.table {
  width: 180px;
  height: 180px;
}

.pixel {
  box-shadow: 0px 0px 1px 0px #eaeaea;
  width: 12.5%;
  height: 12.5%;
  float: left;
}

.pixel:nth-child(2),.pixel:nth-child(3),.pixel:nth-child(4),.pixel:nth-child(5),.pixel:nth-child(6),
.pixel:nth-child(51),.pixel:nth-child(52), .pixel:nth-child(53), .pixel:nth-child(54), .pixel:nth-child(46),.pixel:nth-child(45),.pixel:nth-child(44),.pixel:nth-child(43),
.pixel:nth-child(38),.pixel:nth-child(37),.pixel:nth-child(36),.pixel:nth-child(35) {
  background: red;
}
.pixel:nth-child(9),.pixel:nth-child(11),.pixel:nth-child(12),.pixel:nth-child(13),.pixel:nth-child(14) {
  background: white;
}
.pixel:nth-child(20),.pixel:nth-child(22),.pixel:nth-child(64),.pixel:nth-child(63),.pixel:nth-child(62),.pixel:nth-child(59),.pixel:nth-child(58),.pixel:nth-child(57) {
  background: black;
}
.pixel:nth-child(19),.pixel:nth-child(21),.pixel:nth-child(27),.pixel:nth-child(28),.pixel:nth-child(29),.pixel:nth-child(30),.pixel:nth-child(55),.pixel:nth-child(50) {
  background: beige;
}
.pixel:nth-child(34),.pixel:nth-child(42),.pixel:nth-child(39),.pixel:nth-child(47) {
  background: green;
}
